/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* TUM Corporate Design Color Scheme */
:root {
  --ifm-color-primary: #0065BD;
  --ifm-color-primary-dark: #005aaa;
  --ifm-color-primary-darker: #0055a0;
  --ifm-color-primary-darkest: #004684;
  --ifm-color-primary-light: #0070d0;
  --ifm-color-primary-lighter: #0075da;
  --ifm-color-primary-lightest: #1a85f0;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3291FF;
  --ifm-color-primary-dark: #1a81ff;
  --ifm-color-primary-darker: #0076ff;
  --ifm-color-primary-darkest: #0062d9;
  --ifm-color-primary-light: #4da1ff;
  --ifm-color-primary-lighter: #5ca8ff;
  --ifm-color-primary-lightest: #85bfff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
